/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/*  CUSTOM PROPS */
:root {
    --bkg-color: #343b47;
    --secondary-color: #FFA41C;
    --white: #fff;
    --accent-color: #DC1919;
    --darker-bkg: #1e232a;
}


/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bkg-color);
    color: var(--white);
    font-family: "Overpass", sans-serif;
}

/* INFO SECTION */
img {
    display: block;
    width: 100%;
}


/* FONT CONFIG */
h1, h3 {
    font-family: "Michroma", sans-serif;
}