/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/*  CUSTOM PROPS */
:root {
    --bkg-color: #343b47;
    --secondary-color: #FFA41C;
    --white: #fff;
    --accent-color: #DC1919;
    --darker-bkg: #1e232a;
}


/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bkg-color);
    color: var(--white);
    font-family: "Overpass", sans-serif;
}



/* FONT CONFIG */
h1, h3 {
    font-family: "Michroma", sans-serif;
}


/* App.jsx */
.main-card {
    background-color: var(--darker-bkg);
    border-radius: 10px;
}

.about-me {
    padding: 0 2em 2em 2em;
}


/* INFO SECTION */
.info {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    border-radius: 10px, 10px 0 0;
}

.info-name {
    margin-top: 1rem;
    padding: 0 2rem;
}

.info-role {
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
